@model PersonalityQuiz.Models.QuestionAndAnswers

@{
    ViewBag.Title = "Question1";
}

<h2>
    @Html.DisplayFor(model => model.Question)
</h2>

<div>
    <hr />
    @using (Html.BeginForm())
    {
        <dl class="dl-horizontal">
            <dd>
                @Html.RadioButtonFor(q => q.Question, "1", new { id = "AnswerOne" })
                @Html.DisplayFor(model => model.AnswerOne)
            </dd>

            <dd>
                @Html.RadioButtonFor(q => q.Question, "2", new { id = "AnswerTwo" })
                @Html.DisplayFor(model => model.AnswerTwo)
            </dd>

            <dd>
                @Html.RadioButtonFor(q => q.Question, "3", new { id = "AnswerThree" })
                @Html.DisplayFor(model => model.AnswerThree)
            </dd>
        </dl>

        <input type="submit" value="Next"/> 
    }
</div>
